<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Store</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="AdminOptions">
        <h1 class="h1">Add Store</h1>

        <form method="post" th:action="@{/AddProductStoreOwner}" action="#">
        <select class="select" name="product">
        <option th:each="p:${product}">
        <p class="p" th:text=${p.name}></p>
        </option>
          </select>
         
       <select class="select" name="Brand">
        <option th:each="brand:${Brand}">
        <p class="p" th:text=${brand}></p>
        </option>
          </select>
        
            <input  class="input" type="text" name="Price" required="required" />
            <input  class="input" type="text" name="quantity" required="required" />
            <input  type="submit" class="myButton" value="Add Store" />
        </form>


    </div>
</body>

</html>
