<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="AddProductAdmin">
        <h1 class="h1">Add Product</h1>

        <form method="post" th:action="@{/AddProductAdmin}" th:object="${AddProductAdmin}" action="#">
            <input  class="input" type="text" th:field="*{name}" placeholder="Name" required="required" />
            <input  class="input" type="text" th:field="*{Category}" placeholder="Category" required="required" />
            <input  class="input" type="text" th:field="*{Brand}" placeholder="Brand" required="required" />
            <input  class="input" type="text" th:field="*{HighPrice}" placeholder="Max Price" required="required" />
            <input  class="input" type="text" th:field="*{LowPrice}" placeholder="Min Price" required="required" />
            <select  class="select" th:field="*{Type}"> <option value="Online" >Online</option>
                <option value="OnSite">OnSite</option></select>
            <input  type="submit" class="myButton" value="Add" />
        </form>


    </div>
</body>

</html>
