<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Home Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="AdminOptions">
        <h1 class="h1">Admin Option</h1>
            <a th:href="AddProductAdmin" ><input class="input" type="submit" name="u" value="Add Product" /> </a>
            <a th:href="AddBrandAdmin" ><input class="input" type="submit" name="aa" value="Add Brand" /> </a>
             <a th:href="offerproduct" ><input class="input" type="submit" name="w" value="offer Product" /> </a>
    </div>
</body>

</html>
