<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign up</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="signup">
        <h1 class="h1">Sign Up</h1>
        <form method="post" action="#" th:action="@{/signup}" th:object="${signup}" >
            <input class="input" type="text" name="username" placeholder="Username" required="required" />
            <input class="input" type="password" name="pass1" placeholder="Password" required="required" />
            <input class="input" type="password" name="pass2" placeholder="repeat Password" required="required" />
            <select class="select" name="type">
                <option value="Customer">
                    Customer
                </option>
                <option value="StoreOwner">
                    Store Owner
                </option >
            </select>
            <input type="submit" class="myButton" value="Sign Up"/>
            <a class="a" th:href="index">I have an account</a>
        </form>
    </div>
</body>

</html>
