<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Home Page</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="src/main/resources/static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
</head>

<body class="body">
    <div class="AdminOptions">
        <h1 class="h1">User Buy Product</h1>
            <a th:href="BuyProduct" ><input class="input" type="submit" name="u" value="Buy Product" /> </a>
            
    </div>
</body>

</html>
